
.app {
  background-color: rgb(2, 2, 51);
  color: white;
}

.main {
  height: 100vh;
  background-image: url(./assets/Service-Providers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.minor {
  width: 500px;
  background-color: hsl(240, 92%, 10%);
  margin-top: 10%;
}

.servicesSection {
  height: 100vh;
  background-color: rgb(2, 2, 51);
}

.TrainingSection {
  margin-top: 200px;
  margin-bottom: 150px;
  height: 100vh;
  background-color: rgb(2, 2, 51);
}

.TrainingSection h2 {
  color: blue;
}

.servicesSection h2 {
  color: blue;
}

.thefirstServices {
  height: 100%;
}

.minor input {
  color: black;
}

.trust {
  background-color: rgb(2, 2, 51);
}

.trans {
  height: 100vh;
  width: 100%;
  background-color: rgba(2, 2, 51, .6);
}

.header {
  background-color: rgb(2, 2, 51);
  position: relative;
}

.darkBlue {
  background-color: rgb(2, 2, 51);
}

#about {
  height: 80vh;
  background-color: rgb(2, 2, 51);
  color: aqua;
  display: flex;
}

.image {
  background-image: url(./assets/group.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
}

.words {
  width: 50%;
  height: 100%;
  background-color: rgb(2, 2, 51);
  color: white;
}

#services {
  background-color: rgb(2, 2, 51);
}

#training {
  background-color: rgb(2, 2, 51);
}

.pop {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 25px;
}

.logBut {
  background-color: rgba(105, 105, 202, 0.2);
  border-radius: 10px;
  width: 85px;
  height: 40px;
}

.profile {
  background-color: white;
  color: black;
  width: 100%;
  height: 20vh;
}

.navs {
  gap: 30px;
}

.navs a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indigo {
  background-color: rgb(2, 2, 51);
}

.firstContainer {
  width: 100%;
  height: 100vh;
}

.newApp {
  background-color: rgb(2, 2, 51);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newAppImage {
  background-image: url(./assets/imgonline-com-ua-convertdNNOfoGO2w4U.png);
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}

.sideText {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#about {
  height: 100vh;
}

.submitButton {
  transition: transform 0.3s, background-color 0.3s;
}

.submitButton:hover {
  background-color: rgba(105, 105, 202, 0.2)
}
.submitButton:active{
  transform: scale(1.2);
}

@media(max-width:600px) {
  .realMain {
    flex-direction: column;
  }

  #about {
    flex-direction: column;
  }

  .image {
    display: none;
  }
}


